footer {
    background-color: #51405E;
    // padding: 0 10rem;
    

    .container {
        .project_name {
            font-size: 25px;
            font-weight: 900;
            text-align: center;
        }
    }
}
hr{
    margin: 0;
}