<hr>
<footer>
    <div class="container py-4">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="project_name">
                    Project Camper
                </div>
                <div class="text-center">
                    Developer Support
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    Contact us: +{{mobileNumber}}
                </div>
                <div class="text-center">
                    ©Copyright Project Camper. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>