<main>
    <div class="content">
        <div class="container pb-5">
            <div class="text-uppercase pt-5 pb-2">
                <h5 class="txt-secondary">Contact</h5>
                <p class="h2 fw-bold txt-secondary">Contact us</p>
            </div>
            <div class="bgd-secondary">
                <div class="row justify-content-center pt-5">
                    <div class="col-lg-3 col-sm-12 my-2">
                        <div class="d-flex">
                            <div class="contact_icon">
                                <div class="box bgd-success">
                                    <i class="fa fa-map-marker" style="font-size:24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <h4 class="fw-bold">Location:</h4>
                                <div>Sadar, Nagpur 44111, Maharashtra</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 my-2">
                        <div class="d-flex">
                            <div class="contact_icon">
                                <div class="box bgd-success">
                                    <i class="fa fa-envelope" style="font-size:24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <h4 class="fw-bold">Email:</h4>
                                <div>abcd@gmail.com</div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-12 my-2">
                        <div class="d-flex">
                            <div class="contact_icon">
                                <div class="box bgd-success">
                                    <i class="fa fa-phone" style="font-size:24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <h4 class="fw-bold">Call:</h4>
                                <div>+91 9856700244</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-5 mt-4">
                        <input type="text" placeholder="Your Name" class="form-control rounded-1">
                    </div>
                    <div class="col-lg-5 my-4">
                        <input type="text" placeholder="Your Email" class="form-control rounded-1">
                    </div>
                </div>
                <div class="row mb-4 justify-content-center">
                    <div class="col-lg-10">
                        <input type="text" placeholder="Subject" class="form-control rounded-1">
                    </div>
                </div>
                <div class="row my-4 justify-content-center" data-aos="fade-up">
                    <div class="col-lg-10">
                        <textarea name="" id="" cols="30" rows="4" class="form-control rounded-1"
                            placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="text-center" data-aos="fade-up">
                    <button class="btn bgd-primary text-white rounded-1 px-4 py-2 mb-4">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</main>