<main>
    <div class="background_img">
        <div class="content">
            <span>Bring your Project Get Sponcer letter + Internship</span> <br> letter or Bring your Idea Get Complete
            Project Building
        </div>
    </div>

    <div class="container">
        <h2 class="text-center fw-bold txt-secondary mb-5">
            Everything You Can Imagine is Real...
        </h2>
        <div class="row justify-content-between g-0 align-items-center">
            <div class="col-md-5">
                <div class="box rounded-1">
                    <img src="../../../assets/images/lala-azizli-tfNyTfJpKvc-unsplash.jpg" class="img-fluid" alt="img">
                </div>
            </div>
            <h3 class="col-md-5 text-start txt-secondary ">
                Are You afraid of your Mini <br> and Major projects ? <br> Unable to give your time <br> for placements
                due to <br> project load ?
            </h3>
        </div>
    </div>
    
    <div class="container">
        <h2 class="text-center fw-bold txt-secondary my-5">
            Why to Fear When Project <br> camper is here
        </h2>
        <div class="row g-0">
            <div class="col-md-7">
                <ul>
                    <li>Build Your Ideas with us</li>
                    <li>Get Your Mini & Major Project</li>
                    <li>Free Industry Sponcer Certificate</li>
                </ul>

            </div>
            <div class="col-md-5">
                <div class="box rounded-1">
                    <img src="../../../assets/images/jason-goodman-Oalh2MojUuk-unsplash.jpg" class="img-fluid"
                        alt="img">
                </div>
            </div>
        </div>
    </div>

</main>