<main>
    <div class="content">
        <div class="container">
            <div class="text-uppercase">
                <h5 class="pt-5 text-cement txt-secondary">Services</h5>
                <p class="h2 fw-bold txt-secondary">Our Services</p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-4">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-paint-brush brush mt-5 mb-3" style="font-size: 50px;"></i>
                            <p class="fw-bold h4">Web Design</p>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, provident?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-4">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-line-chart chart mt-5 mb-3" style="font-size: 50px;"></i>
                            <p class="fw-bold h4">Marketing</p>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, provident?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-4">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-mobile mobile mt-5 mb-3" style="font-size: 50px;"></i>
                            <p class="fw-bold h4">App Design</p>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, provident?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>